body {
    padding: 0 !important;
}
.quick-search {
    padding: 30px;
}
.quick-search-form {
    margin: auto;
    max-width: 50%;
}
.social-banks-projects {
    
}
.social-banks-section {
    border-top: 2px solid #ecf0f1;
}
.social-banks-list {
    padding: 15px;
}
.social-bank-wrapper {
    border: 1px solid #ddd;
}
.social-bank-cover {
    background-color: #808080;
    min-height: 200px;
}
.social-bank-info {
    padding: 15px;
    font-size: 14px;
}
.social-bank-address p{
    
}
.description-title {
    font-weight: bold;
    font-family: "Benton Sans", "Helvetica", "sans-serif";
}
.description-content {
    
}
.circulanting-rate {
    
}
.donate-now {
    text-align: center;
    padding: 15px;
}
.social-bank-info, .description-title, .description-content, .social-bank-address, .address, .circulanting-rate, .circulating-rate-title {
    font-size: 14px;
}
.find-more-sb {
    padding: 15px;
    text-align: center;
    margin-top: 30px;

}

.float-right-dd {
    float: right;
    margin: 0 5px !important;
}

.custom-quote {
    font-size: 24px !important;
}
.text {
    margin: 30px 0;
}

.section-main-title {
    margin-bottom: 50px;
}
.advantages-ul {
    list-style: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.advantages-ul li {
    margin-bottom: 5px;
}
.advantages-check-icon {
    color: #E74C3C;
}

.who-whe-are-section {
    border-top: 2px solid #ecf0f1;
}
.custom-background-image {
  background-image: url("/Content/themes/common-files/img/favela1.jpg") !important;
  opacity: 0.5 !important;
  filter: alpha(opacity=7500);
  opacity: 0.5;
  filter: alpha(opacity=75);
  background-position: 50% !important;
}

