@{
    ViewBag.Title = "Register New Social Bank";
}

<div id="div-create-bank">
    <h2>Create a New Social Bank</h2>
    <form id="form-create-bank">
        <label>Social Bank's name:</label>
        <br />
        <input type="text" id="name" name="name" value="" required />
        <br />
        <br />
        <label>Social Money:</label>
        <br />
        <input type="text" id="socialMoneyName" name="socialMoneyName" value="" required />
        <br />
        It needs to be different from the social bank's name.
        <br />
        <br />

        <label>Social Bank's description:</label>
        <br />
        <textarea id="description" name="description" required></textarea>
        <br />

        <label>Bitcoin address for donations:</label>
        <br />
        <input type="text" id="bitcoinAddressForDonation" name="bitcoinAddressForDonation" value="" required />
        <br />
        <br />

        <label>Social Bank's address:</label>
        <br />
        <textarea id="address" name="address" required></textarea>
        <br />
        <br />

        <label>Zip Code:</label>
        <br />
        <input type="text" id="zipcode" name="zipcode" value="" required />
        <br />
        <br />

    </form>

    <button id="btn-create-bank">NEXT</button>

</div>

<div id="div-create-user" style="display: none">
    <h2>Create Administrator User for Social Bank</h2>
    <form id="form-create-user">
        <label>e-mail/Username:</label>
        <br />
        <input type="text" id="email" name="email" value="" required />
        <br />
        <br />

        <label>First Name:</label>
        <br />
        <input type="text" id="firstName" name="firstName" value="" required />
        <br />
        <br />

        <label>Last Name:</label>
        <br />
        <input type="text" id="lastName" name="lastName" value="" required />
        <br />
        <br />

        <label>Password:</label>
        <br />
        <input type="password" id="password" name="password" value="" required />
        <br />
        <br />

        <label>Confirm Password:</label>
        <br />
        <input type="password" id="password2" name="password2" value="" required />
        <br />
        <br />

    </form>

    <button id="btn-finish">FINISH</button>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/jquery.validate.js");

    @Scripts.Render("~/Content/Scripts/CreateSocialBank.js")
    <script>
        new CreateSocialBank($).Ready();
    </script>
}