@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- projects-4 -->
<section class="projects-4">
    <div class="container">
        <h3>Projects recommended</h3>
        <div class="projects row">
            <div class="project-wrapper col-sm-3">
                <div class="social-bank-wrapper">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="social-bank-cover">
                                <a href="#">
                                    <img src="~/Content/themes/common-files/img/crew/oxana-n.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="social-bank-info">
                            <div class="col-xs-12 social-bank-description">
                                <h6 class="description-title">Description</h6>
                                <a href="#">
                                    <p class="description-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec.
                                    </p>
                                </a>
                            </div>
                            <div class="col-xs-12 social-bank-address">
                                <p class="address">
                                    Social Street Avenue - BRAZIL
                                </p>
                            </div>
                            <div class="col-xs-12 circulating-rate">
                                <h6 class="circulating-rate-title">Circulating rate:</h6>
                                <div class="progress">
                                    <div class="progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
                                </div>
                            </div>
                            <div class="col-xs-12 donate-now">
                                <button class="btn btn-primary social-bank-donate-button">Donate Now!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-wrapper col-sm-3">
                <div class="project">
                    <div class="photo-wrapper bg-sun-flower">
                        <div class="photo"></div>
                        <a href="#" class="overlay"><span class="fui-mic"></span></a>
                    </div>
                    <div class="info">
                        <a href="#" class="name color-orange">Linecons</a>
                        2012
                    </div>
                </div>
            </div>
            <div class="project-wrapper col-sm-3">
                <div class="project">
                    <div class="photo-wrapper bg-peter-river">
                        <div class="photo"></div>
                        <a href="#" class="overlay"><span class="fui-cmd"></span></a>
                    </div>
                    <div class="info">
                        <a href="#" class="name color-belize-hole">Flat UI Pro</a>
                        2012
                    </div>
                </div>
            </div>
            <div class="project-wrapper col-sm-3">

                <div class="project">
                    <div class="photo-wrapper bg-turquoise">
                        <div class="photo"></div>
                        <a href="#" class="overlay"><span class="fui-user"></span></a>
                    </div>
                    <div class="info">
                        <a href="#" class="name color-green-sea">Startup Kit</a>
                        2012
                    </div>
                </div>
            </div>
        </div>
        <div class="row find-more-sb-row">
            <div class="col-xs-12">
                <div class="find-more-sb">
                    <button class="btn btn-danger">FIND MORE SOCIAL BANKS</button>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>

<section class="blog-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-main-title">
                    <h3>Social Banks</h3>
                </div>
                

                <div class="quote custom-quote">
                    In a situation of profit, you're blind. Only the dollar signs come in sight. Remove the dollar signs in their eyes and suddenly you will see another world. It's a fascinating world!
                </div>
                <div class="author">Muhammad Yunus</div>

                <div class="text">
                    <p>Social banks are organizations that foster solidarity-based economy to stimulate employment and income generation in their working areas with the objective to overcoming urban poverty and rural</p>
                </div>

                <div class="quote custom-quote">
                    Solidarity-based economy is a different way of producing, selling, buying and exchanging what it takes to live. Without exploiting others, unwittingly taking advantage, without destroying the environment. Cooperating, strengthening the group, each one thinking of the good of all and in their own right.
                </div>
                <div class="quote-author">
                    National Secretary of Solidarity-Based Economy - Ministry of Labour – Brazil
                </div>
                <div class="text">
                    <p>
                        The goal of social banks is to guarantee microcredit to production and local consumption and also provide access to banking services for the residents of the poorest communities, which typically would not have access to them in the traditional banks, based on lack of credit history or financial guarantee and/or physical distance.
                    </p>
                    <p>
                        The operation is simple: it all starts with a fundraising aiming at generating financial backing. This fundraising can occur in various ways, from resources donated by the community itself or by external actors (companies, organizations, Government). After obtaining the financial backing is made the issue of social currency, usually in a ratio that each official currency generates a social currency of the same value. Once this is done, the user of the social bank will be able to rely on microcredit that is received in the social currency in circulation in his neighborhood or town.
                    </p>
                    <p>
                        From there the user uses the social currency in circulation in his neighborhood or town. In local trade, he earns discount by paying with that money. The merchant can undo the exchange in the Social Bank, if it has need to shop outside the community.
                    </p>
                    <p>
                        Thus, the wealth lies within the neighborhood, because the social currency payment has no value outside of there. The idea is to make the resources of that community can circulate for as long as possible inside it expanding the power of the local trade, increasing wealth, generating employment and income in the area. The social currency, therefore, becomes an essential component in the strategies of community banks. Credits can help in the economic growth of the district or region through the creation of new wealth. Local currencies guarantee development, promoting that wealth to circulate in the community itself.
                    </p>
                    <p>
                        In November 2009 the Central Bank of Brazil signed a deed of partnership with National Secretary of Solidarity-Based Economy - Ministry of Labour (Federal Government) to create a technical note to social currencies, creating a kind of "official position" of the Brazilian Government on the local social currencies circulating. The process is still in progress, but the Central Bank's relationship with the Brazilian Network of Community Banks, with regard to the use of social currencies, has been significantly positive.
                    <p>                    
                        In 2013 there were 103 local social currencies circulating in Brazil. According to data from the Brazilian Network of Community Banks, in 2012 was circulating in Brazil the value of R$ 500,000 exchanged in social currencies, with an estimated 350,000 people using them.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-2 digital-currencies">
    <div class="background hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <img src="~/Content/themes/common-files/img/bitcoin2.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                <h3>Digital Currencies</h3>
                <div class="promo">
                    <p>"The world can be modified with the technology that we have today."
                        Muhammad Yunus</p>
                </div>
                <div class="text">
                    <p>
                        Digital currencies are a mechanism of Exchange via internet which exhibit properties similar to physical currencies, but that, as differential, enables a safe and efficient alternative to value transfers quickly and with low cost. As traditional currency can be used to purchase goods and services, but also can have their use restricted to certain communities or areas, whether they be real or virtual. In this way, represent innovation both in form of payment and as a form of currency.
                        Fundamentally, what exists behind a digital currency is a technology that is capable of maintaining, in a decentralized manner, a "digital accounting book" that determines where the coins are, how many there are and to whom they belong. Thus, if you have 10 digital currencies, knows the address and password, you can authorize a new "record" in the "digital accounting book" and move the coins to someone else.
                        The first innovation of this "digital accounting book" is your safety, because it is not on a computer but in copies scattered around the world. This way is impossible to circumvent the records because it would be necessary to change all at once. The second is the fact that simply having a password I can allow a new "record", transferring an amount to another person, without interference from banks or any other intermediary. Just like a real currency.
                    </p>
                    <p>
                        Thus, we can say that digital currencies are a technological innovation to move digitally values to another person safely and quickly, in the same way that the internet is a key technology to move information to another person securely and quickly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-5 our-solution">
    <div class="container">
        <img src="/Content/themes/common-files/icons/magic-wand@2x.png" width="200" height="200" alt="">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>Our Solution</h3>
                <p class="lead quote">"We have to use technology to do the right thing. So we will create a new world for us” - Muhammad Yunus</p>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm-4 col-sm-offset-2">
                <span class="fui-cmd"> </span>
                <h6>Social Banks</h6>
                <p>Social Banks is an Open Source (MIT License) solution for decentralized issuing and circulation of digital social currencies. Through a web platform, the Social Banks aims to facilitate the establishment, operation and use of digital social currency of an easy, affordable way for average non-technical users in technology.</p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <span class="fui-windows"> </span>
                <h6>How</h6>
                <p>Social currencies created and maintained in Social Banks are fully P2P. Although there is a central server for the Social Banks system, the safety of property of digital social currency values is guaranteed through a decentralized P2P network - the Bitcoin's blockchain - and through multiple signatures mechanisms for authorization of transactions. So, there is not a single point of vulnerability</p>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm-4 col-sm-offset-2">
                <span class="fui-upload"> </span>
                <h6>Advantages</h6>
                <ul class ="advantages-ul" style="
    list-style: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
">

                    <li class="row">
                        <span class="col-sm-1 fui-star fui-rotate-0 advantages-check-icon" ></span>
                        <span class="col-sm-11">provides high security;</span>
                    </li>
                    <li class="row">
                        <span class="col-sm-1 fui-star advantages-check-icon"></span>
                        <span class="col-sm-11">has virtually zero operating cost;</span>
                    </li>
                    <li class="row">
                        <span class="col-sm-1 fui-star advantages-check-icon" ></span>
                        <span class="col-sm-11">ensures transparency with privacy;</span>
                    </li>
                    <li class="row">
                        <span class="col-sm-1 fui-star advantages-check-icon"></span>
                        <span class="col-sm-11">enables global fundraising of financial resources for local development (crowdfunding).</span>
                    </li>
                    <li class="row">
                        <span class="col-sm-1 fui-star advantages-check-icon"></span>
                        <span class="col-sm-11" style="
">facilitates the adhesion (decentralized online "purchase") as well as the use (iOS and Android mobile wallets) of currency by users</span>
                    </li>
                </ul>

            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <span class="fui-credit-card"> </span>
                <h6>Finally</h6>
                <p>The architecture of Social Banks eliminates the need for confidence in the reputation of the Social Banks for decentralised technology does not permit interference, nor the platform's managers themselves</p>
            </div>
        </div>
    </div>
</section>

<section class="blog-5 who-whe-are">
    <div class="title">
        <div class="container">
            <h3>Who Whe Are</h3>
        </div>
    </div>
    <div class="quote">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    You want to discover your less selfish side? Create a social business to solve a problem that we see on the planet.
                    <div class="author">Muhammad Yunus</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>
                    Undertake means changing a reality in which it is inserted, be happy with your own venture and seek success with him, but not always the word "Undertake" comes with the word "Profit".
                </p>
                <p>
                    The goals may be other, help a certain group of people, a community, a social class, without target monetary profit but something of much greater value, is a knowledge, an improvement, a change and it can make people, the community and the world a better place.
                </p>
                <p>
                    We believe that technology can be a very effective tool in the fight against poverty.    
                </p>
                <br />
                <p class="lead">
                    Thus, we can affirm that the Social Banks is a social entrepreneurship startup that seeks to provide a simple and effective tool for empowering communities who wish to deploy and maintain social currencies and promote its development.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- crew 1 -->
<section class="crew-1">
    <div class="container">
        <h3>Members</h3>
        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(~/Content/themes/common-files/img/crew/vladimir-k.png);">
                            <img src="~/Content/themes/common-files/img/crew/vladimir-k.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay">
                            <span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Fabrício Vargas</div>
                        CEO
                    </div>
                </div>
            </div>
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(~/Content/themes/common-files/img/crew/sergey-s.png);">
                            <img src="~/Content/themes/common-files/img/crew/sergey-s.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay">
                            <span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Marcelo Arrevabeni</div>
                        CEO
                    </div>
                </div>
            </div>
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(~/Content/themes/common-files/img/crew/adrian-v.png);">
                            <img src="~/Content/themes/common-files/img/crew/adrian-v.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay">
                            <span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Osias Jota</div>
                        Founder
                    </div>
                </div>
            </div>
        </div>
        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(~/Content/themes/common-files/img/crew/edvard-k.png);">
                            <img src="~/Content/themes/common-files/img/crew/edvard-k.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay">
                            <span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Maurício Carvalho</div>
                        UI Designer
                    </div>
                </div>
            </div>
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(~/Content/themes/common-files/img/crew/oxana-n.png);">
                            <img src="~/Content/themes/common-files/img/crew/oxana-n.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay">
                            <span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Marcos Cardoso</div>
                        UI Designer
                    </div>
                </div>
            </div>
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(~/Content/themes/common-files/img/crew/tatiana-y.png);">
                            <img src="~/Content/themes/common-files/img/crew/tatiana-y.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay">
                            <span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Felipe Oliveira</div>
                        Founder
                    </div>
                </div>
            </div>
        </div>
        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(~/Content/themes/common-files/img/crew/edvard-k.png);">
                            <img src="~/Content/themes/common-files/img/crew/edvard-k.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay">
                            <span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Felipe Mendes</div>
                        UI Designer
                    </div>
                </div>
            </div>
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(~/Content/themes/common-files/img/crew/oxana-n.png);">
                            <img src="~/Content/themes/common-files/img/crew/oxana-n.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay">
                            <span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Flávio Duarte</div>
                        UI Designer
                    </div>
                </div>
            </div>
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(~/Content/themes/common-files/img/crew/tatiana-y.png);">
                            <img src="~/Content/themes/common-files/img/crew/tatiana-y.png" alt="" style="display: none;">
                        </div>
                        <div class="overlay">
                            <span class="fui-eye"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Josias Alexandre</div>
                        Web Programmer
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>

@section Scripts {
    @Scripts.Render("~/Scripts/bitcore/bitcore.min.js");
    @Scripts.Render("~/Content/Scripts/HomeIndex.js")
    <script>
        new HomeIndex($).Ready();
    </script>
}