@{
    ViewBag.Title = "SocialBanks";
}


<div id="div-unauthenticaded-walllet">
    <input type="text" value="" id="txt-passphrase" name="txt-passphrase"><br>
    <button id="btn-enter_wallet">Enter</button>
</div>

<div id="div-authenticaded-walllet" style="display: none">
    My public address: <span id="span-public-address">loading</span>
    <br />
    <button id="btn-send">Send</button>
    <br />
    <button id="btn-create_issuance">Issue Money</button>
    <br />
    <button id="btn-sign_transaction">Sign Transaction</button>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/bitcore/bitcore.min.js");
    @Scripts.Render("~/Content/Scripts/HomeIndex.js")
    <script>
        new HomeIndex($).Ready();
    </script>
}
