@{
    ViewBag.Title = "Test - Fabricio";
}


<div>
    Test #1


@section Scripts {
    @Scripts.Render("~/Scripts/bitcore/bitcore.js");
    @Scripts.Render("~/Content/Scripts/HomeTestFabricio.js")
    <script>
        new HomeTestFabricio($).RunAll();
    </script>
}


</div>
